<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pbma.moa.createroomdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreateRoomDemo">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activitys.Activity_00_Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.PreferenceActivity" />
        <activity android:name=".activitys.Activity_20_RoomListHost" />
        <activity android:name=".activitys.Activity_23_HostViewParticipant" />
        <activity android:name=".activitys.Activity_22_RoomHostDetail" />
        <activity android:name=".activitys.Activity_11_EnterViaQrNfc"/>
        <activity android:name=".activitys.Activity_14_RoomParticipantDetail"/>
        <activity android:name=".activitys.Activity_15_ParticipantViewParticipant"/>
        <activity android:name=".activitys.Activity_10_RoomListVisited"/>
        <activity
            android:name=".activitys.Activity_21_CreateNewRoom">
        </activity>
        <service android:name=".service.RoomLivecycleService"/>
        <service
            android:name=".service.MQTTService"/>
    </application>


</manifest>