<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pbma.moa.createroomdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreateRoomDemo">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Preferences.PreferenceActivity" />
        <activity android:name=".Activity.RoomListActivity" />
        <activity android:name=".Activity.ParticipantHostActivity" />
        <activity android:name=".Activity.RoomHostDetailActivity" />
        <activity android:name=".Activity.EnterViaQrNfcActivity"/>
        <activity android:name=".Activity.RoomParticipantDetailActivity"/>
        <activity android:name=".Activity.ParticipantParticipantActivity"/>
        <activity android:name=".Activity.RoomVisitedListActivity"/>
        <activity
            android:name=".Activity.CreateNewRoomActivity"> <!--android:noHistory="true"> -->
        </activity>
    </application>

</manifest>